#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.0em; height: auto; }
#sortable li span { position: absolute; margin-left: -1.3em; }

.hide{
	display:none;
}

.show{
	display:visible;
}

.infoInterDivs{
	background-color: #dfeffc;
	border-style: solid;
	border-width: medium;
	border-color: #0B8EB5;
	width: 45%;
	right:10px;
	top: 50px;
	position: absolute;
	border-radius: 10px;
	padding:10px;
}

.exampleForInter{
	right:50px;
	bottom: 100px;
	width:55%;
	position:absolute;
}

.selectables{
	position:relative;
	left: -20px;
	width: 45%;
	list-style-type: none;
	margin: 0; 
	padding: 0; 
}

.OptionDivs{
	border-style: solid;
	border-width: medium;
	border-color: #0B8EB5;
	padding:10px;
	position: absolute;
	right:710px;
	bottom:140px;
	width:5%;
}

.ImpactDivs{
	border-style: solid;
	border-width: medium;
	border-color: #0B8EB5;
	padding:10px;
	position: absolute;
	right:710px;
	bottom:140px;
	width:5%;
}

#dep_textarea{
	position: absolute;
	bottom: 1px;
	left: 250px;
}

#impact_textarea{
	position: absolute;
	bottom: 75px;
	left: 250px;
}

.infoList{
	background-color: #dfeffc;
	border-style: solid;
	border-width: medium;
	border-color: #0B8EB5;
	border-radius: 10px;
	padding:10px;
}
#imageOne{
	position: absolute;
	right: 55px;
}

#imageTwo{
	position: absolute;
	top: 460px;
	right:230px;
}

#imageThree{
	position: absolute;
	right: 450px;
	top: 570px;
}
#imageFour{
	position: absolute;
	top: 600px;
	left: 45px;
}

.font_legend{
	color:#0B8EB5;
	font-size: 18px;
	padding: 0px 10px 0px 10px;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white; 
}

#makeSpace{
	height: 500px;
	clear: both;
	background-color: white;
	font-color:yellow;
}

#example{
background-color:#dfeffc; 
border-radius:10; 
border-color:white;
border-style: solid;
border-width: medium;
padding: 10px;
}

.infoList ul li{
	list-style-type: none;
}

.infoList ul ol li{
	list-style-type: decimal;
}

.infoList ul ul li{
	list-style-type: square;
}

.infoDivs{
	right: 50px;
	top: 300px;
	background-color: #dfeffc;
	border-style: solid;
	border-width: medium;
	border-color: #0B8EB5;
	width: 45%;
	position: absolute;
	border-radius: 10px;
	padding:10px;
}

.infoAndExamples{
	right: 20px;
	top: 80px;
	position: absolute;
	width: 45%;
}

.infoClassDivs{
	background-color: #dfeffc;
	border-style: solid;
	border-width: medium;
	border-color: #0B8EB5;
	/*min-height: 150px;*/
	/*position: absolute;*/
	padding:10px;
	border-radius: 10px;
	overflow:auto;
}

.classExampleDivs{
	background-color: #dfeffc;
	border-color: #0B8EB5;
	border-style: solid;
	border-width: medium;
	/*position: absolute;*/
	min-height: 150px;
	padding: 10px;
	border-radius: 10px;
	display: none;
	overflow:auto;
	/*top: 250px;*/
}

.descOfResources{
	border-radius: 10px;
	padding: 10px;
	background-color: #B0F7F6;
	border-color: #82E8E7;
}

#hiddenForSpace{
	height: 470px;
	clear: both;
	background-color: white;
	font-color:yellow;
}

.selectables li { 
	margin: 3px;
 	padding: 0.4em;
 	font-size: 1.0em; 
 	height: 18px; 
}

.selectable_c li{
	height: 18px;
	width:45%;
	list-style-type: none ;
	border-radius: 10;
	font-size: 1.0em;
	margin: 3px;
	padding: 0.4em;
}

.selectable_c {
	margin-left: -10px;
}

body{
	background-size: 1000px;
}

ol[id^= 'selectable'] .ui-selecting { background: #FECA40;}
ol[id^= 'selectable'] .ui-selected { background: #F39814; color: white;}


/*

.ui-selecting { background: #FECA40; }
.ui-selected { background: #F39814; color: white; }



#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }

#selectable1 .ui-selecting { background: #FECA40;}
#selectable1 .ui-selected { background: #F39814; color: white;}

#selectable2 .ui-selecting { background: #FECA40; }
#selectable2 .ui-selected { background: #F39814; color: white; }

#selectable3 .ui-selecting { background: #FECA40; }
#selectable3 .ui-selected { background: #F39814; color: white; }

#selectable4 .ui-selecting { background: #FECA40; }
#selectable4 .ui-selected { background: #F39814; color: white; }

#selectable5 .ui-selecting { background: #FECA40; }
#selectable5 .ui-selected { background: #F39814; color: white; }

#selectable6 .ui-selecting { background: #FECA40; }
#selectable6 .ui-selected { background: #F39814; color: white; }

#selectable7 .ui-selecting { background: #FECA40; }
#selectable7 .ui-selected { background: #F39814; color: white; }

#selectable8 .ui-selecting { background: #FECA40; }
#selectable8 .ui-selected { background: #F39814; color: white; }

#selectable9 .ui-selecting { background: #FECA40; }
#selectable9 .ui-selected { background: #F39814; color: white; }

#selectable10 .ui-selecting { background: #FECA40; }
#selectable10 .ui-selected { background: #F39814; color: white; }

#selectable11 .ui-selecting { background: #FECA40; }
#selectable11 .ui-selected { background: #F39814; color: white; }

#selectable12 .ui-selecting { background: #FECA40; }
#selectable12 .ui-selected { background: #F39814; color: white; }

#selectable13 .ui-selecting { background: #FECA40; }
#selectable13 .ui-selected { background: #F39814; color: white; }

#selectable14 .ui-selecting { background: #FECA40; }
#selectable14 .ui-selected { background: #F39814; color: white; }

#selectable15 .ui-selecting { background: #FECA40; }
#selectable15 .ui-selected { background: #F39814; color: white; }

#selectable16 .ui-selecting { background: #FECA40; }
#selectable16 .ui-selected { background: #F39814; color: white; }

#selectable17 .ui-selecting { background: #FECA40; }
#selectable17 .ui-selected { background: #F39814; color: white; }

#selectable18 .ui-selecting { background: #FECA40; }
#selectable18 .ui-selected { background: #F39814; color: white; }

#selectable19 .ui-selecting { background: #FECA40; }
#selectable19 .ui-selected { background: #F39814; color: white; }

#selectable20 .ui-selecting { background: #FECA40; }
#selectable20 .ui-selected { background: #F39814; color: white; }

#selectable21 .ui-selecting { background: #FECA40; }
#selectable21 .ui-selected { background: #F39814; color: white; }

#selectable22 .ui-selecting { background: #FECA40; }
#selectable22 .ui-selected { background: #F39814; color: white; }

#selectable23 .ui-selecting { background: #FECA40; }
#selectable23 .ui-selected { background: #F39814; color: white; }

#selectable24 .ui-selecting { background: #FECA40; }
#selectable24 .ui-selected { background: #F39814; color: white; }

#selectable25 .ui-selecting { background: #FECA40; }
#selectable25 .ui-selected { background: #F39814; color: white; }

#selectable26 .ui-selecting { background: #FECA40; }
#selectable26 .ui-selected { background: #F39814; color: white; }

#selectable27 .ui-selecting { background: #FECA40; }
#selectable27 .ui-selected { background: #F39814; color: white; }

#selectable28 .ui-selecting { background: #FECA40; }
#selectable28 .ui-selected { background: #F39814; color: white; }

#selectable29 .ui-selecting { background: #FECA40; }
#selectable29 .ui-selected { background: #F39814; color: white; }

#selectable30 .ui-selecting { background: #FECA40; }
#selectable30 .ui-selected { background: #F39814; color: white; }

#selectable31 .ui-selecting { background: #FECA40; }
#selectable31 .ui-selected { background: #F39814; color: white; }

#selectable32 .ui-selecting { background: #FECA40; }
#selectable32 .ui-selected { background: #F39814; color: white; }

#selectable33 .ui-selecting { background: #FECA40; }
#selectable33 .ui-selected { background: #F39814; color: white; }

#selectable34 .ui-selecting { background: #FECA40; }
#selectable34 .ui-selected { background: #F39814; color: white; }

#selectable35 .ui-selecting { background: #FECA40; }
#selectable35 .ui-selected { background: #F39814; color: white; }

#selectable36 .ui-selecting { background: #FECA40; }
#selectable36 .ui-selected { background: #F39814; color: white; }

#selectable37 .ui-selecting { background: #FECA40; }
#selectable37 .ui-selected { background: #F39814; color: white; }

#selectable38 .ui-selecting { background: #FECA40; }
#selectable38 .ui-selected { background: #F39814; color: white; }

#selectable39 .ui-selecting { background: #FECA40; }
#selectable39 .ui-selected { background: #F39814; color: white; }

#selectable40 .ui-selecting { background: #FECA40; }
#selectable40 .ui-selected { background: #F39814; color: white; }

#selectable41 .ui-selecting { background: #FECA40; }
#selectable41 .ui-selected { background: #F39814; color: white; }
*/
#feedback { font-size: 1.4em; }

#selectableadmin .ui-selecting { background: #FECA40; }
#selectableadmin .ui-selected { background: #F39814; color: white; }
#selectableadmin { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectableadmin li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.0em; height: auto; }
#selectableadmin li span { position: absolute; margin-left: -1.3em; }
#selectable0 .ui-selecting { background: #FECA40; }
#selectable0 .ui-selected { background: #F39814; color: white; }
#selectable0 { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectable0 li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.0em; height: auto; }
#selectable0 li span { position: absolute; margin-left: -1.3em; }
.text_input_style {margin-bottom:0;}
.help_text_style {margin-top:0; clear:both; font-size: 0.7em}
.labelStyle {font-size: 0.5em}
.centreBTN1{text-align: center; width: 490px;}
.centreBTN2{text-align: center; width: 700px;}
.centreBTN3{text-align: center; width: 800px;}