#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.0em; height: auto; }
#sortable li span { position: absolute; margin-left: -1.3em; }

.hide{
	display:none;
}

.show{
	display:visible;
}

.infoInterDivs{
	background-color: #dfeffc;
	border-style: solid;
	border-width: medium;
	border-color: #0B8EB5;
	width: 45%;
	right:10px;
	top: 50px;
	position: absolute;
	border-radius: 10px;
	padding:10px;
}

.exampleForInter{
	right:50px;
	bottom: 100px;
	width:55%;
	position:absolute;
}

.selectables{
	position:relative;
	left: -20px;
	width: 45%;
	list-style-type: none;
	margin: 0; 
	padding: 0; 
}

.OptionDivs{
	border-style: solid;
	border-width: medium;
	border-color: #0B8EB5;
	padding:10px;
	position: absolute;
	right:710px;
	bottom:140px;
	width:5%;
}

.ImpactDivs{
	border-style: solid;
	border-width: medium;
	border-color: #0B8EB5;
	padding:10px;
	position: absolute;
	right:710px;
	bottom:140px;
	width:5%;
}

#dep_textarea{
	position: absolute;
	bottom: 1px;
	left: 250px;
}

#impact_textarea{
	position: absolute;
	bottom: 75px;
	left: 250px;
}
#evaltabs{
	border-style: none !important;
}

.infoList{
	background-color: #dfeffc;
	border-style: solid;
	border-width: medium;
	border-color: #0B8EB5;
	border-radius: 10px;
	padding:10px;
}
#imageOne{
	position: absolute;
	right: 55px;
}

#imageTwo{
	position: absolute;
	top: 460px;
	right:230px;
}

#imageThree{
	position: absolute;
	right: 450px;
	top: 570px;
}
#imageFour{
	position: absolute;
	top: 600px;
	left: 45px;
}

.font_legend{
	color:#0B8EB5;
	font-size: 18px;
	padding: 0px 10px 0px 10px;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white; 
}

#makeSpace{
	height: 500px;
	clear: both;
	background-color: white;
	font-color:yellow;
}

#example{
background-color:#dfeffc; 
border-radius:10; 
border-color:white;
border-style: solid;
border-width: medium;
padding: 10px;
}

.infoList ul li{
	list-style-type: none;
}

.infoList ul ol li{
	list-style-type: decimal;
}

.infoList ul ul li{
	list-style-type: square;
}

.infoDivs{
	right: 50px;
	top: 300px;
	background-color: #dfeffc;
	border-style: solid;
	border-width: medium;
	border-color: #0B8EB5;
	width: 45%;
	position: absolute;
	border-radius: 10px;
	padding:10px;
}

.infoAndExamples{
	right: 20px;
	top: 80px;
	position: absolute;
	width: 45%;
}

.infoClassDivs{
	background-color: #dfeffc;
	border-style: solid;
	border-width: medium;
	border-color: #0B8EB5;
	/*min-height: 150px;*/
	/*position: absolute;*/
	padding:10px;
	border-radius: 10px;
	overflow:auto;
}

.classExampleDivs{
	background-color: #dfeffc;
	border-color: #0B8EB5;
	border-style: solid;
	border-width: medium;
	/*position: absolute;*/
	min-height: 150px;
	padding: 10px;
	border-radius: 10px;
	display: none;
	overflow:auto;
	/*top: 250px;*/
}

.descOfResources{
	border-radius: 10px;
	padding: 10px;
	background-color: #B0F7F6;
	border-color: #82E8E7;
}

#hiddenForSpace{
	height: 470px;
	clear: both;
	background-color: white;
	font-color:yellow;
}

.selectables li { 
	margin: 3px;
 	padding: 0.4em;
 	font-size: 1.0em; 
 	height: 18px; 
}

.selectable_c li{
	height: 18px;
	width:45%;
	list-style-type: none ;
	border-radius: 10;
	font-size: 1.0em;
	margin: 3px;
	padding: 0.4em;
}

.selectable_c {
	margin-left: -10px;
}

body{
	background-size: 1000px;
}

ol[id^= 'selectable'] .ui-selecting { background: #FECA40;}
ol[id^= 'selectable'] .ui-selected { background: #F39814; color: white;}

#feedback { font-size: 1.4em; }

#selectableadmin .ui-selecting { background: #FECA40; }
#selectableadmin .ui-selected { background: #F39814; color: white; }
#selectableadmin { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectableadmin li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.0em; height: auto; }
#selectableadmin li span { position: absolute; margin-left: -1.3em; }
#selectable0 .ui-selecting { background: #FECA40; }
#selectable0 .ui-selected { background: #F39814; color: white; }
#selectable0 { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectable0 li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.0em; height: auto; }
#selectable0 li span { position: absolute; margin-left: -1.3em; }
.text_input_style {margin-bottom:0;}
.help_text_style {margin-top:0; clear:both; font-size: 0.7em}
.labelStyle {font-size: 0.5em}
.centreBTN1{text-align: center; width: 490px;}
.centreBTN2{text-align: center; width: 700px;}
.centreBTN3{text-align: center; width: 800px;}

#tab14 h4{
	padding-bottom:2px;
	margin:15px 0 2px 0;
}

#example2{
	font-weight:normal;
}

#map img, #map1 img{
	background: none !important;
	background-color: transparent !important;
	border: none !important;
	 max-width: none;
}
.gm-style img { max-width: none; }
.gm-style label { width: auto; display: inline; }

#map, #map1 {
	background: none !important;
	background-color: transparent !important;
	border: none !important;
	max-width: none;
}